<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a 
      style="color: aliceblue;" 
      class="navbar-brand" 
      href="#"
      >
      Angular + Node.Js
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div 
      class="collapse navbar-collapse" 
      id="navbarNavAltMarkup"
      >
      <div class="navbar-nav">
        <a 
          style="color: aliceblue;" 
          class="nav-link" 
          routerLink="user"
          >
          All users
        </a>
        <a  
          style="color: aliceblue;" 
          class="nav-link" 
          routerLink="create"
          >
          Create user
        </a>
      </div>
    </div>
  </div>
</nav>
<h1 class="text-center mt-2">
  User Information Aplication in Angular
</h1>
<router-outlet></router-outlet>
